// Normal
$white: #fff !default;
$black: #000 !default;

$blue: #428bca !default;
$green: #5cb85c !default;
$yellow: #f0ad4e !default;
$red: #d9534f !default;
$grey: #555 !default;

// Dark
$dark-blue: darken($blue, 15);
$dark-green: darken($green, 15);
$dark-yellow: darken($yellow, 15);
$dark-red: darken($red, 15);
$dark-grey: darken($grey, 15);

// Light
$light-blue: lighten($blue, 15);
$light-green: lighten($green, 15);
$light-yellow: lighten($yellow, 15);
$light-red: lighten($red, 15);
$light-grey: lighten($grey, 15);
