%control {
  // Colors
  &.csuccess {
    > label, > input, > select {
      color: $picnic-success;
    }
    > input, > select {
      border-color: $picnic-success;
    }
  }
  
  &.cwarning {
    > label, > input, > select {
      color: $picnic-warning;
    }
    > input, > select {
      border-color: $picnic-warning;
    }
  }
  
  &.cerror {
    > label, > input, > select {
      color: $picnic-error;
    }
    > input, > select {
      border-color: $picnic-error;
    }
  }
}

.control {
  @extend %control;
}

%alert {
  // Colors
  &.success {
    color: $picnic-success;
    &.card {
      border-color: $picnic-success;
    }
  }
  
  &.warning {
    color: $picnic-warning;
    &.card {
      border-color: $picnic-warning;
    }
  }
  
  &.error {
    color: $picnic-error;
    &.card {
      border-color: $picnic-error;
    }
  }
}

.alert {
  @extend %alert;
}
