@import "./themes/synergy/theme";
@import "./themes/synergy/plugin";

// Normalize.css (external library)
@import "~picnic/plugins/normalize/plugin";

// Generic styles for things like <body>, <a> and others
// It also overwrites normalize.css a bit
@import "~picnic/plugins/generic/plugin";
//@import "~picnic/plugins/fontello/plugin";

// Simple elements
@import "~picnic/plugins/label/plugin";
@import "~picnic/plugins/button/plugin";

// Forms
@import "~picnic/plugins/input/plugin";
@import "~picnic/plugins/select/plugin";
@import "~picnic/plugins/radio/plugin";
@import "~picnic/plugins/checkbox/plugin";

// Components
@import "~picnic/plugins/table/plugin";
@import "~picnic/plugins/grids/plugin";

// Extra plugins
@import "~picnic/plugins/nav/plugin";
@import "~picnic/plugins/card/plugin";
@import "~picnic/plugins/tabs/plugin";
@import "~picnic/plugins/tooltip/plugin";

[type] + .toggle, button {
  margin-right: $picnic-separation / 2;
}

.tab > .row {
  padding-left: 1px;
}

.main {
  padding: 10px;
  max-width: 960px;
  width: 100%;
  margin: 100px auto 500px;
}
